
body {
  background: linear-gradient(to right, #f5f5f5, #494c4f);
 
}


.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #000;
}
.custom-navbar {
  background-color: #1a1a1a; /* Cambia el color del fondo */
  padding: 1rem; /* Espaciado interno */
  border-bottom: 2px solid #fff; /* Agrega una línea inferior */
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  color: #fff; /* Color del texto */
}

.custom-navbar .navbar-brand img {
  height: 170px;
  margin-left: 3.5em;
  display: grid;
  justify-content: center;
  box-shadow: 0px 2px 2px rgb(43 42 42 / 20%);
  border-radius: 100%;
}

.custom-navbar .nav-link {
  transition: color 0.3s ease;
  color: #000000; /* Color de los enlaces */
  transition: color 0.3s ease; /* Animación en hover */
}

.custom-navbar .nav-link:hover {
  color: #ccc;
}


.navbar-expand {
  background-color: transparent;
  box-shadow: -8px -10px 20px 20px rgb(43 42 42 / 20%);
}


#about {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease-in-out;
  padding: 2rem 0;
}
#about.visible {
  opacity: 1;
  transform: translateY(0);
}

#about h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

#about h3 {
  font-size: 1.4rem;
  color: #555;
  line-height: 1.6;
}

#about img {
  max-width: 100%;
  border-radius: 10px;
 
}

#contact {
  padding: 2rem 0;
}

#contact h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
}

#contact .form-control {
  border-radius: 8px;
  padding: 1rem;
}


#projects{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease-in-out;
  padding: 2rem 0;
}

#projects.visible{
  opacity: 1;
  transform: translateY(0);
}



#projects h2{
  font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
}

#skills h2{
  font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
}

.row:hover{
  cursor: pointer;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  padding: 1.5rem; /* Espaciado interno */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transición suave */
}

.card-body:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

.card-body h5 {
  font-size: 1.25rem; /* Tamaño de fuente del título */
  font-weight: bold;
  color: #333; /* Color del texto */
}

.card-body p {
  font-size: 1rem;
  color: #555; /* Color del texto del párrafo */
}

.card-body .btn {
  color: #fff; /* Texto del botón */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.card-body .btn:hover {
  color: #fff; /* Mantener el color del texto */
}


footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer a {
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #007bff;
}
